GCP_PROJECT_ID=miriart-dev
GCP_REGION=asia-northeast3
GCS_BUCKET_NAME=miriart-bucket
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
# Cloud Run 배포 시 GOOGLE_APPLICATION_CREDENTIALS 불필요 (서비스 계정 자동 연결)
